﻿@page "/weather"
@using gyak.Components.Data
@inject Ujservice Ujserv;
@* //@attribute [StreamRendering] *@
@attribute [RenderModeServer]

<PageTitle>Nevek</PageTitle>

<h1>Itt nevek vannak</h1>

<p>Fogalmam sincs mi legyen itt.</p>
<p>@ujnev</p>

@if (kepek == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <tbody>
                <tr>

                    <td><img src=@kepek[0] style="width:60px" ></td>
                    <td><img src=@kepek[1] style="width:60px"></td>
                    <td><img src=@kepek[2] style="width:60px"></td>
                </tr>
        </tbody>
    </table>
    <button @onclick=elore disabled=@block>előre</button>
    <button @onclick="hatra">hátra</button>
    if (kepek != null)
    {
        foreach(string a in kepek)
        {
            <img src=@a style="width: 300px">
        }
    }
}

@code {

    public string ujnev;
    public string[]? kepek;
    public bool block = false;

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        ujnev= await Ujservice.GetNevAsync();
        kepek = await Ujservice.GetKepekAsync();


    }

    protected async void elore()
    {

        kepek = await Ujservice.NovelAsync();
        ujnev = "elore";
        block = true;
    }
    protected async void hatra()
    {
        kepek = await Ujservice.CsokkentAsync();
    }

    
}
